<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Demo.Test01">
      <methods>
      <include name="Test1"></include>
      </methods>
      </class>
      <class name="Test_Demo.TestNG_class"/>
      <class name="Test_Demo.TestNG_demo02"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
